@media  screen and (max-width:768px) {


  .menu-header{
    font-size: 30px;
  }
  
  .top-img {
    background: url(img/top-img.png);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;

    width: 100%;
    height: 450px;
  }

 



  .profile-wrapper {
    display: block;
  }

  .profile-left {
    text-align: center;
  }

  .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
  }

  .profile-right{
    font-size: 18px;
    line-height: 38px;
    width: 80%;
    margin: 0 auto;
}

  .profile-right .name {
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
  }




  .skill-wrapper {
    display: block;
  }

  .skill-contet{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-around;
  }

  .skill-right {
    padding-bottom: 40px;
  }



  .form {
    width: 100%;
    margin: 0 auto;
  }





















}